# Copyright Amazon.com, Inc. or its affiliates. All Rights Reserved.
# SPDX-License-Identifier: MIT-0

aws-cdk-lib==2.253.0
constructs==10.4.2

amazon-braket-sdk==1.91.2
cdk-nag==2.35.105
bandit==1.8.3
pip-audit==2.9.0